.EnjoyText_main {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #1f1e1e;
    z-index: 0;
}

.EnjoyText_main_bg_v {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
}

.EnjoyText_main_bg_v video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures it fills the container without distortion */
    object-position: center;
}


/* Background layer with opacity */
.action_main::before {
    content: "";
    position: absolute;
    top: 0px; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, #4f12122a, #2c0d652d), 
                url('/src/assets/doctor_strange.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.0;
    /* opacity: 1; */
    z-index: 0;
    /* scale: -1; */
    transition: all 1s ease-in-out;
    animation: coming 2.5s ease-in-out forwards;
}
@keyframes coming {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1.02);
    }
}


.EnjoyText_main_top{
    /* background-color: rgba(184, 135, 11, 0.089); */
    width: 100%;
    height: 120px;
    position: relative;
}
.EnjoyText_main_top_close_tab{
    position: absolute;
    background-color: #80808000;
    /* background-color: #9f9f9f; */
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #2c2b2b7a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* z-index: 21; */
    overflow: hidden;
}
.EnjoyText_main_top_close_tab:hover{
    border: 2px solid #383737b3;
}
.EnjoyText_main_top_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 4px;
}
.EnjoyText_main_top_bottom{
    /* background-color: #0b90b826; */
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.EnjoyText_main_top_bottom_share_main{
    /* background-color: forestgreen; */
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: row; */
}
.EnjoyText_main_top_bottom_text_send_lighting_main{
    /* background-color: darkblue; */
    width: 38%;
    height: 93%;
    max-height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}



.EnjoyText_main_top_bottom_text_send{
    background-color: #16161618;
    /* background-color: rebeccapurple; */
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(25px);
    width: 100%;
    height: 100%;
    border: 2px solid #1f1e1e8a;
    /* border: 2px solid #de0c0c6d; */
    border-radius: 10px;
    /* margin: 10px; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    overflow: scroll;
}
.EnjoyText_main_top_bottom_text_send::-webkit-scrollbar {
    width: 0px;
    background-color: #16161618;
}





/* Focus state (when clicked) */
.enjoy_text_input_box:focus {
    border-color: #890b0b; /* Bootstrap's focus border color */
    outline: 0;
    box-shadow: 0 0 0 0.25rem #a4020244; /* Bootstrap's blue focus glow */
}

.EnjoyText_main_top_bottom_text_send_p3{
    /* background-color: #00eeff; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.EnjoyText_main_top_bottom_text_send_p3 button{
    background-color: transparent;
    /* background-color: #00eeff; */
    border: 1px solid #1f1e1e;
    width: 85%;
    color: #ffffff;
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.EnjoyText_main_top_bottom_animation_joints{
    background-color: #56a16600;
    /* background-color: #0bbe31ae; */
    width: 24%;
    height: 100%;
}


.EnjoyText_main_top_bottom_text_receive{
    background-color: #16161618;
    /* background-color: red; */
    max-height: 700px;
    backdrop-filter: blur(25px);
    width: 38%;
    height: 93%;
    border: 2px solid #1f1e1e8a;
    border-radius: 10px;
    /* margin: 10px; */
    padding: 10px;
    box-sizing: border-box;
    min-width: 300px;
    overflow: scroll;
}

.EnjoyText_main_top_bottom_text_receive::-webkit-scrollbar {
    width: 0px;
    background-color: #16161618;
}

.EnjoyText_main_top_bottom_text_send_lighting_main_switch_context_btn{
    display: none;
}
#switch_share_receive_text{
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* background-color: #1f1e1e; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#switch_share_receive_text svg{
    width: 100%;
    height: 100%;
}
#EnjoyText_main_top_bottom_text_send_mobile{
    display: none;
}
#EnjoyText_main_top_bottom_text_send_desktop{
    display: block;
}



@media (max-width: 788px) {
    #EnjoyText_main_top_bottom_text_send_mobile{
        display: block;
    }
    #EnjoyText_main_top_bottom_text_send_desktop{
        display: none;
    }

    .EnjoyText_main_top_bottom_text_send_lighting_main_switch_context_btn{
        display: block;
        position: absolute;
        bottom: -50px;
    }
    .EnjoyText_main_top_bottom_text_send_lighting_main{
        /* background-color: darkblue; */
        width: 100%;
        max-height: 450px;
    }
    .EnjoyText_main_top_bottom{
        /* background-color: #0b90b826; */
        width: 100%;
        height: calc(100% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .EnjoyText_main_top_bottom_share_main{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        overflow: hidden;
    }
    .EnjoyText_main_top{
        /* background-color: rgba(184, 135, 11, 0.089); */
        width: 100%;
        height: 10px;
        position: relative;
    }
    .EnjoyText_main_top_bottom_animation_joints{
        /* background-color: chocolate; */
        width: 100%;
        display: none;
    }
    .EnjoyText_main_top_bottom_text_receive{
        /* background-color: darkgreen; */
        width: 100%;
        display: none;
    }
}