.ForgotPassword_main {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #011827, #012135);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.ForgotPassword_main::before,
.ForgotPassword_main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/src/assets/dark-planet-space-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  z-index: 0;
  filter: brightness(0.6);
}

.ForgotPassword_main_arrange_width {
  /* background-color: red; */


  background: linear-gradient(135deg, #2323232a, #1a1a1a6d);
  width: 90%;
  max-width: 400px;
  color: #ffffff;
  border-radius: 16px;
  padding: 30px 30px 0px 30px;
  text-align: center;
  z-index: 10;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 15px rgba(16, 16, 16, 0.218);
  transform: rotate(-0.3deg);
  margin: 0px 10px;
}
.Forgot_title {
  /* background-color: #2575fc; */
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #d6d6d6;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgotPassword_main_verify_email,
.ForgotPassword_main_update_password {
  /* background-color: palegoldenrod; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ForgotPassword_main_verify_email_top,
.ForgotPassword_main_verify_email_bottom,
.ForgotPassword_main_update_password_top,
.ForgotPassword_main_update_password_bottom {
    /* background-color: #167c1b; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot_password_input {
  background-color: #19191928;
  padding: 10px 15px;
  border: 1px solid #4c4a64c7;
  border-radius: 6px;
  font-size: 15px;
  color: #ffffff;
  transition: 0.3s;
}

.forgot_password_input::placeholder {
  color: #888;
  opacity: 1;
}

.forgot_password_input:focus {
  border-color: #2575fc;
  outline: none;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

.forgot_password_input::-webkit-inner-spin-button,
.forgot_password_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.forgot_pass_btn {
  background: linear-gradient(to left, #625affcc, #3b2d99d3);
  color: #fff;
  /* padding: 12px; */
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_pass_btn:hover {
  background: linear-gradient(to left, #564ef4cc, #342498d3);
}

.ForgotPassword_main_email_verify_error,
.ForgotPassword_main_update_pass_error {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: rgba(194, 22, 22, 0.9);
  padding: 5px 10px 0;
}

#forgot_password_email_verify_error {
  border-color: #d809098d;
  outline: none;
  box-shadow: 0 0 6px rgba(252, 37, 37, 0.57);
}

.forgot_msg_show {
    /* background-color: #167c1b; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_msg_show p {
  font-size: 12px;
  color: #167c1b;
  text-align: center;
}
#goto_chose_section {
    /* background-color: #012135; */
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
}

#goto_chose_section_btn {
  background-color: transparent;
  /* background-color: #167c1b; */
  border: none;
  color: #83838355;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#goto_chose_section_btn:hover {
  color: #83838379;
}

#forgot_loading_svg_icon {
  animation: rotate 2s linear infinite;
  top: 5px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.forgot_pass_go_back {
  /* background-color: teal; */
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader span {
  /* background-color: darkgoldenrod; */
  width: 12px;
  height: 12px;
  background: linear-gradient(to right, #aeaafbcc, #7069a0d3);
  border-radius: 50%;
  animation: waveBounce 0.6s infinite ease-in-out;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.15s;
}
.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes waveBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}